		  <div class="wrapper">
		    <div class="sidebar" data-color="azure" data-background-color="white" th:data-image="@{material-dashboard-master/assets/img/sidebar-1.jpg}" id="test" style="display:none;visibility: hidden">
		      <div class="logo"><a href="http://digidinos.com" class="simple-text logo-normal">
		          DIGI DINOS
		        </a></div>
		      <div class="sidebar-wrapper">
		        <ul class="nav">
		          <!--NOTHING-->
		        </ul>
		      </div>
		    </div>
		    <div class="main-panel" style="width: 100%">
		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg sticky-top bg-light" style="padding:0">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="http://digidinos.com">DIGI DINOS</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          <div class="collapse navbar-collapse justify-content-end">
		            <form class="navbar-form">
		              <div class="input-group no-border">
		                <input type="text" value="" class="form-control" placeholder="Search...">
		                <button type="submit" class="btn btn-white btn-round btn-just-icon">
		                  <i class="material-icons">search</i>
		                  <div class="ripple-container"></div>
		                </button>
		              </div>
		            </form>
		            <ul class="navbar-nav">
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/productList}">
		                  PRODUCT LIST
		                </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/shoppingCart}">
		                  MY CART
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="!isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/login}">
		                  LOGIN
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/accountInfo}">
		                  PROFILE
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/logout}">
		                  LOGOUT
		                </a>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </nav>

