<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <meta charset="UTF-8">
      <title>Books Shop Online</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	  <link th:href="@{/material-dashboard-master/assets/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
	  <link th:href="@{/material-dashboard-master/assets/demo/demo.css}" rel="stylesheet" />
   </head>
      
      <body class="">
		  <div class="wrapper">
		    <div class="sidebar" data-color="azure" data-background-color="white" th:data-image="@{material-dashboard-master/assets/img/sidebar-1.jpg}" id="test" style="display:none;visibility: hidden">
		      <div class="logo"><a href="http://digidinos.com" class="simple-text logo-normal">
		          DIGI DINOS
		        </a></div>
		      <div class="sidebar-wrapper">
		        <ul class="nav">
		          <!--NOTHING-->
		        </ul>
		      </div>
		    </div>
		    <div class="main-panel" style="width: 100%">
		      <!-- Navbar -->
		      <nav class="navbar navbar-expand-lg sticky-top bg-light" style="padding:0">
		        <div class="container-fluid">
		          <div class="navbar-wrapper">
		            <a class="navbar-brand" href="http://digidinos.com">DIGI DINOS</a>
		          </div>
		          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		            <span class="navbar-toggler-icon icon-bar"></span>
		          </button>
		          <div class="collapse navbar-collapse justify-content-end">
		            <form class="navbar-form">
		              <div class="input-group no-border">
		                <input type="text" value="" class="form-control" placeholder="Search...">
		                <button type="submit" class="btn btn-white btn-round btn-just-icon">
		                  <i class="material-icons">search</i>
		                  <div class="ripple-container"></div>
		                </button>
		              </div>
		            </form>
		            <ul class="navbar-nav">
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/productList}">
		                  PRODUCT LIST
		                </a>
		              </li>
		              <li class="nav-item">
		                <a class="nav-link" th:href="@{/shoppingCart}">
		                  MY CART
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="!isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/login}">
		                  LOGIN
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/accountInfo}">
		                  PROFILE
		                </a>
		              </li>
		              <li class="nav-item" sec:authorize="isAuthenticated()">
		                <a class="nav-link" th:href="@{/admin/logout}">
		                  LOGOUT
		                </a>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </nav>
		      <div class="content" style="padding:0px; margin:0px">
	 			<img th:src="@{material-dashboard-master/assets/img/test.png}" class="img-fluid" alt="Responsive image" style="width:100%; height:20%">
	 		  </div>
 		</div>

  <script th:src="@{/material-dashboard-master/assets/js/core/jquery.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/core/bootstrap-material-design.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/moment.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/sweetalert2.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/jquery.validate.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/bootstrap-selectpicker.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/jquery.dataTables.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/bootstrap-tagsinput.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/jasny-bootstrap.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/fullcalendar.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/jquery-jvectormap.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/nouislider.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/arrive.min.js}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/chartist.min.js}"></script>
  <script th:src="@{/material-dashboard-master/assets/js/plugins/bootstrap-notify.js}"></script>
  <script th:src="@{material-dashboard-master/assets/js/material-dashboard.js}" type="text/javascript"></script>
  <script th:src="@{material-dashboard-master/assets/demo/demo.js}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
      
      	$(window).resize(function(){
	        if($(document).width() > 991){
	          $("#test").fadeOut(0, function(){
	            $("#test").css("visibility", "hidden")
	          })
	        }
	        else{
	          $("#test").fadeIn(0, function(){
	            $("#test").css("visibility", "visible")
	          })
	        }
	      })
      	
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>
</html>