<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   <head>
      <meta charset="UTF-8">
      <title>Books Shop Online</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	  <link th:href="@{/material-dashboard-master/assets/css/material-dashboard.css?v=2.1.2}" rel="stylesheet" />
	  <link th:href="@{/material-dashboard-master/assets/demo/demo.css}" rel="stylesheet" />
   </head>
   
   <body class="">
      <th:block th:include="/_header"></th:block>
      <div class="content justify-content-center">
      	<div class="row justify-content-center d-flex">
	      	
	      	
		      	<div class="row justify-content-center d-flex align-self-center" style="width:80%">
		      		<div class="d-flex col-lg-3 justify-content-center px-3" th:each="prodInfo : ${paginationProducts.list}">
			         	<div class="card">
			         		<img th:src="@{|/productImage?code=${prodInfo.code}|}" class="card-img-top mt-2 mb-3 mx-auto mt-1" style="border-radius:0px;border:0px;width:95%">
			         		<div class="card-body">
						    	<h5 class="card-title">Code: <span th:utext="${prodInfo.code}"></span></h5>
						    	<hr style="width:100%"
						    	<p class="card-text">Name: <span th:utext="${prodInfo.name}"></span></p>
						    	<p class="card-text">Price: <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span></p>
						    	<hr style="width:100%">
						    	<a href="#" class="btn btn-dark pull-right" th:href="@{|/buyProduct?code=${prodInfo.code}|}">Buy Now</a>
						  	</div>
						</div>
					</div>
				</div>
			
			       
	    </div>  
	            
	      	   </div>
	      </div>
      </div>
      <th:block th:include="/_footer"></th:block>
   </body>
</html>